<header class="mb-3 md:mb-5 md:mt-3  tracking-[0.3rem] text-xs font-montserrat ">
  <h2>PERFUME</h2>
</header>
<main class="flex flex-col gap-4 md:gap-6">
  <h1 class=" leading-none text-[2rem] font-fraunces text-very-dark-blue">Gabrielle Essence Eau De Parfum</h1>
  <p class=" leading-[1.40rem] font-montserrat">A floral, solar and voluptuous interpretation composed by Olivier Polge, Perfumer-Creator for the House of CHANEL.</p>
  <div class="flex mt-4 space-x-5">
    <h3 class="font-fraunces text-[2rem] text-dark-cyan">$149.99</h3>
    <h4 class="font-montserrat text-[0.8rem] line-through">$169.99</h4>
  </div>
  <button class="bg-dark-cyan mt-2 text-white rounded-md h-12 font-montserrat font-bold  active:brightness-50">
    <div class="justify-center items-center flex">
      <img class="mr-3" src="../../../assets/images/icon-cart.svg" alt="Shopping cart">
      Add to Cart
    </div>
  </button>
</main>
